* {
	margin: 0;
	padding: 0;
}

#nav {
	list-style: none;
	border: blue solid 4px;
	float: left;
}

#nav li {
	position: relative;
	float: left;
	border-right: 4px gray solid;
}

#nav li a {
	text-decoration: none;
	color: black;
	display: block;
	padding: 6px 6px;
	border-right: 4px gray solid;
}

#nav li a:hover {
	background: gray;
}

#nav li ul {
	left: 0;	
	position: absolute;
	display: none;
	background-color: white;
}

#nav li:hover ul{
	display: block;
}

#nav li ul li {
	display: block;
	width: 150px;
}