a {
    color: white;
    text-shadow: 2px 0 0 rgb(46, 1, 1), -2px 0 0 rgb(46, 1, 1), 0 2px 0 rgb(46, 1, 1), 0 -2px 0 rgb(46, 1, 1), 1px 1px rgb(46, 1, 1), -1px -1px 0 rgb(46, 1, 1), 1px -1px 0 rgb(46, 1, 1), -1px 1px 0 rgb(46, 1, 1);
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://i.pinimg.com/originals/ce/33/72/ce33721232fb5e0939a4b6a72b4aeef1.jpg");
    background-size: cover;
    color: white;
    text-shadow: 2px 0 0 rgb(46, 1, 1), -2px 0 0 rgb(46, 1, 1), 0 2px 0 rgb(46, 1, 1), 0 -2px 0 rgb(46, 1, 1), 1px 1px rgb(46, 1, 1), -1px -1px 0 rgb(46, 1, 1), 1px -1px 0 rgb(46, 1, 1), -1px 1px 0 rgb(46, 1, 1);
}

div {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }

box {
    background-color: #bec3c538;
    padding: 20px;
    font-size: 25px;
    text-align: center;
    border:#8e8e8f57 10px groove;
}

.box {
    float: left;
    margin: 4px;
    padding: 4px;
}

input {
    height: 20px;
    font-size: 20px;
}

button {
    font-size: 20px;
    margin: 10px;
    background-color: rgb(107, 23, 23);
    color: white;
    padding: 5px;
}